<!DOCTYPE html>
<html>
<head>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


</head>
<body>

    @Html.Partial("_MenuBar");

    <div class="container body-content">

        @RenderBody()
        <hr />
      
    </div>

</body>
</html>
