@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">

    <asp:Button runat="server" Text="Button">
        aaa
    </asp:Button>

    @Html.Partial("_Slider");
    <hr />
    @Html.Partial("_Slider2");
    <hr />

    @Html.Partial("_Slider3");

</div>

